In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('earthquake_data.csv')
df.columns = ['General worry', 'Big One worry', 'Big One will occur in your future lifetime?', 'Earthquake experience','Have you ever taken any precautions against earthquakes?', 'Familiarity with San Andreas fault line', 'Familiarity with Yellowstone Supervolcano', 'Age','Gender','Household total earnings per year', 'US Region']
yellowstone = df[['Familiarity with Yellowstone Supervolcano', 'Household total earnings per year', 'US Region']]
yellowstone.head()
yellowstone.index = yellowstone['US Region']
yellowstone.drop('US Region', axis=1, inplace=True)
yellowstone.head()

C:\Users\Mateusz\AppData\Local\Temp\ipykernel_15556\2726805433.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yellowstone.drop('US Region', axis=1, inplace=True)

,Familiarity with Yellowstone Supervolcano,Household total earnings per year
US Region,,
New England,Not so familiar,Prefer not to answer
East North Central,Not at all familiar,"$75,000 to $99,999"
Pacific,Somewhat familiar,"$10,000 to $24,999"
West South Central,Not so familiar,"$25,000 to $49,999"
Middle Atlantic,Extremely familiar,"$200,000 and up"

W tej tabeli widzimy, czy ludzie znają Superwulkan w parku Yellowstone oraz dodatkowo gdzie mieszkają oraz jakie są ich zarobki.

In [5]:
yellowstone.describe()

,Familiarity with Yellowstone Supervolcano,Household total earnings per year
count,1001,1001
unique,5,11
top,Somewhat familiar,"$50,000 to $74,999"
freq,280,175